* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
  transition: all 0.3s ease;
  padding: 10px;

  &:hover {
    background-color: rgb(51, 50, 50);
    border-radius: 5px;
  }
}

aside {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  img {
    width: 200px;
  }
  nav {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 30px;
    font-weight: bolder;
  }
}

main {
  width: 100%;
}

main header {
  align-items: center !important;

  ul {
    li {
      padding: 5px 10px;
      transition: all 0.3s ease;
      &:hover {
        background-color: gray;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  button {
    background-color: #1ab26b !important;
  }
}

main .songs {
  padding: 20px;

  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .card {
      width: 160px;
      background-color: #181818;
      padding: 10px;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      &:hover .play {
        opacity: 1;
        bottom: -30px;
      }

      figure {
        position: relative;

        img {
          width: 100%;
          border-radius: 5px;
          margin-bottom: 20px;
        }
      }

      .play {
        position: absolute;
        background-color: #1ab26b;
        right: 0px;
        bottom: -80px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
        opacity: 0;
        transition: all 0.3s ease;
        &:hover {
          background-color: #14f089;
        }
      }
    }
  }
}

.playing {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 5px 40px;
  background-color: #3eecac;
  background-image: linear-gradient(349deg, #3eecac 0%, #ee74e1 100%);
  color: white;
  text-shadow: 0px 0px 10px black;

  .info {
    display: flex;
    gap: 30px;
    align-items: center;

    img {
      width: 60px;
      border-radius: 50%;
    }
  }
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate {
  animation: turn 3s linear infinite;
}
